<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Secret Santa Invite</title>
</head>
<body>
    <table style="width: 100%">
        <tbody>
            <tr>
                <td style="width: 30%"></td>
                <td style="width: 40%">
                    <img src="cid:image" alt="Нам жаль..." style="width: 80%"/>
                    <div style="padding-left: 10%; padding-right: 10%;">
                        <!--/*@thymesVar id="givingName" type="java.lang.String"*/-->
                        <h4 th:text="'Привет, ' + ${givingName} + '!'"></h4>
                        <p>Тебя пригласили на вечеринку Тайного Санты!</p>
                        <p>Тайный Санта назначил тебе получателя подарка:</p>
                        <div style="background-color: lavender; width: 40%; top: 50%; left: 50%; margin: auto">
                            <!--/*@thymesVar id="receivingName" type="java.lang.String"*/-->
                            <p style="font-size: 20px; font-weight: bold; text-align: center" th:text="${receivingName}"></p>
                        </div>
                        <br>
                        <!--/*@thymesVar id="partyDate" type="java.time.LocalDate"*/-->
                        <!--/*@thymesVar id="partyPlace" type="java.lang.String"*/-->
                        <p style="font-size: 12px;">Подробные данные о вечеринке:</p>
                        <p style="font-size: 12px;" th:text="'Дата: '+${partyDate}"></p>
                        <p style="font-size: 12px;" th:text="'Место: '+${partyPlace}"></p>
                        <br>
                        <h4>С Наступающим!</h4>
                    </div>
                </td>
                <td style="width: 30%"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>